/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.row {
  margin-right: unset;
  margin-left: unset;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.ltr {
  direction: ltr;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@font-face {
  font-family: Shabnam;
  src: url("../fonts/Estedad/webfonts/statics/Estedad-Black.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-Bold.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-ExtraBold.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-ExtraLight.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-Light.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-Medium.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-Regular.woff2");
  src: url("../fonts/Estedad/webfonts/statics/Estedad-SemiBold.woff2");
  

  /* src: url("../fonts/peyda-bold.woff");
  src: url("../fonts/peyda-bold.woff2");
  src: url("../fonts/peyda-regular.woff");
  src: url("../fonts/peyda-regular.woff2");
  src: url("../fonts/PeydaBold.ttf"); */

  /* src: url("./assets/fonts/PeydaMedium.ttf"); */
}

body {
  margin: 0;
  font-family: Shabnam;
  font-weight:  900;

  /* font-family: Shabnam, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

body {
  background: #fff;
}

.tx-primary {
  color: #7209b7;
}

.tx-secendery {
  color: #f7b801;
}

.b-primary {
  background-color: #7209b7;
}

.b-secendery {
  background-color: #f7b801;
}

.bgicon-primary {
  background-color: #7109b742;
  border-radius: 20px;
}

.sec {
  padding: 15px;
  border-radius: 15px;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.new-car-slider-container {
  /* background-color: #fff; */
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 20px !important;
}

.new-car-slider-item {
  min-height: 380px !important;
  background-color: #fff;
  border-radius: 12px !important;
}

.new-car-slider-item>img {
  min-height: 380px !important;
  background-color: #fff;
  border-radius: 12px !important;
}

.icon-home {
  width: 65px !important;
  height: 65px !important;
  border-radius: 13px;
}

.icon-shop {
  width: 100% !important;
  height: 120px !important;
  border-radius: 13px;
}

.iconRed {
  background: rgb(199, 0, 0);
  background: linear-gradient(20deg,
      rgba(199, 0, 0, 1) 0%,
      rgba(255, 126, 135, 1) 100%);
}

.iconBlue {
  background: rgb(11, 101, 144);
  background: linear-gradient(20deg,
      rgba(11, 101, 144, 1) 0%,
      rgba(148, 222, 255, 1) 100%);
}

.iconPrimary {
  background: rgb(113, 12, 191);
  background: linear-gradient(20deg,
      rgba(113, 12, 191, 1) 0%,
      rgba(250, 148, 255, 1) 100%);
}

.iconYellow {
  background: rgb(193, 201, 79);
  background: linear-gradient(13deg,
      rgba(193, 201, 79, 1) 0%,
      rgba(252, 243, 51, 1) 100%);
}

.iconOrange {
  background: rgb(255, 126, 0);
  background: linear-gradient(13deg,
      rgba(255, 126, 0, 1) 0%,
      rgba(255, 184, 128, 1) 100%);
}

.iconYasi {
  background: rgb(255, 0, 183);
  background: linear-gradient(13deg,
      rgba(255, 0, 183, 1) 0%,
      rgba(255, 128, 128, 1) 100%);
}

.iconDarkBlue {
  background: rgb(0, 38, 163);
  background: linear-gradient(13deg,
      rgba(0, 38, 163, 1) 0%,
      rgba(84, 115, 255, 1) 100%);
}

.iconKahoee {
  background: rgb(0, 163, 134);
  background: linear-gradient(13deg,
      rgba(0, 163, 134, 1) 0%,
      rgba(84, 255, 233, 1) 100%);
}

.iconVirus {
  background: rgb(112, 156, 25);
  background: linear-gradient(13deg,
      rgba(112, 156, 25, 1) 0%,
      rgba(178, 255, 0, 1) 100%);
}

.iconGray {
  background: rgb(97, 97, 97);
  background: linear-gradient(13deg,
      rgba(97, 97, 97, 1) 0%,
      rgba(170, 170, 170, 1) 100%);
}

.iconGreen {
  background: rgb(19, 154, 51);
  background: linear-gradient(20deg,
      rgba(19, 154, 51, 1) 0%,
      rgba(148, 255, 162, 1) 100%);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.shadow {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.shadow-sm {
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2) !important;
}

.accordion-button::after {
  display: none !important;
}

.icon-hamkari {
  width: 60px;
  height: 60px;
  border-radius: 120px;
}

.abslout-icon {
  position: fixed;
  bottom: -5vh;
  z-index: 9997;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.423);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.423);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
}

.drawer-container {
  padding-inline: 20px;
  border-radius: 2rem 2rem 0 0;
  padding-top: 2rem !important;
  z-index: 9999 !important;
  height: unset !important;
}

.navbar {
  position: relative;
  background-color: #fff;
  flex-wrap: nowrap;
}

.drawer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.drawer-list-item:not(:last-child) {
  margin-bottom: 0.75rem;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 0.5rem;
}

.drawer-list-item.active {
  padding-right: 1rem;
}

.drawer-list-item.active a {
  color: #c90000;
}

.drawer-list-item a {
  font-size: 15px;
  color: #151d3b;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.drawer-list-item a:hover {
  color: #c90000;
}

.drawer-list-item a:hover::after,
.drawer-list-item a::after {
  border-color: #c90000;
  bottom: -0.25rem;
}

.mobile-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-container label {
  z-index: 9998 !important;
}

.img-logo {
  overflow: hidden !important;
}

.profile-pic {
  width: 75% !important;
  /* height: 100% !important; */
  border-radius: 30%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic-noborder {
  width: 75% !important;
  /* height: 100% !important; */
  border-radius: 30%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(92, 52, 52), rgb(59, 28, 28) 80%);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
  border: 2px solid #fff;
}

.profile-pic-noborder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
  border: 2px solid #fff;
}

.back-ground {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid #d6d6d6;
  height: 48px;
  outline: none !important;
  transition: all 0.3s ease-in;
  color: #312c2c;
}

.back-ground:focus {
  outline: none !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
  border: 2px solid #000;
  border-top: unset;
  border-left: unset;
  transform: rotate(45deg);
}

img {
  object-fit: cover;
  object-position: center;
}

.full-img {
  object-fit: unset;
  width: 100%;
  height: auto;
}

.row-item {
  margin-bottom: 0.75rem;
}

.row-item a {
  color: #212529;
  text-decoration: none !important;
  max-width: 100%;
  display: block;
}

.row-item span {
  width: 100% !important;

  aspect-ratio: 1 !important;

}

.row-item img {
  transition: all 0.3s ease !important;
  width: 100%;
  height: auto;
}

.row-item:hover img {
  transform: scale(0.9);
}

.row-item.disbaled-item {
  position: relative;
}

.row-item.disbaled-item::after {
  content: "بزودی";
  color: #000;
  background-color: #ecdd0d;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8em;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}


.row-item.disbaled-item img {
  filter: grayscale(0.0);
}

.row-item.disbaled-item:hover img {
  transform: scale(1);
}

.banner-slider-item img {
  width: 100%;
  height: auto;
  /* max-height: 220px; */
  border-radius: 15px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.08);
}

.circle-pointer {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: green;
  margin-bottom: 10px;
  margin-left: 5px;
}

.circle-pointer.yellow-pointer {
  background-color: #f7b801;
}

.circle-pointer.pink-pointer {
  background-color: rgb(255, 27, 175);
}

.circle-pointer.orange-pointer {
  background-color: rgb(255, 88, 88);
}

.circle-pointer.green-pointer {
  background-color: rgb(167, 329, 88);
}

.circle-pointer.yellow-pointer {
  background-color: #f7b801;
}

.car-slider-item {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.car-slider-item.fit-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.car-slider-item .title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.car-slider-item .car-lazy-loader {
  width: 100%;
  position: relative;
  height: 240px;
  z-index: 1;
  transition: all 0.3s ease;
}

.car-slider-item img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease !important;
}

.car-slider-item .blur {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border-radius: 0 0 15px 15px;
}

.car-slider-item:hover img {
  transform: scale(1.1);
}

.banner-slider-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.05);
}

.banner-slider-item .blur {
  border-radius: 0 0 15px 15px;
  width: calc(100% - 1rem);
}

.main-page {
  margin-bottom: 130px;
}

.custom-accordion-item {
  border-right: 1px solid rgba(0, 0, 0, 0.18);
  border-left: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  margin: 1rem 0;
  border-radius: 0.75rem;
  background-color: #fff;
}

.custom-accordion-wrapper .custom-accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.custom-accordion-wrapper .custom-accordion-item {
  border-top: 1px solid rgba(0, 0, 0, 0.18);
}

.custom-accordion-item .custom-accordion-header {
  font-size: 1.3em;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.87);
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
}

.custom-accordion-item .custom-accordion-header svg {
  transition: all 0.3s ease-in;
  transform: rotate(-90deg);
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.custom-accordion-item .custom-accordion-body {
  font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease-in;
  border-top: unset;
  padding: 0 1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.custom-accordion-item.active {
  margin: 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-accordion-item.active .custom-accordion-body {
  /* min-height: 100%; */
  /* height: 180px; */
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.18);
}

.custom-accordion-item.active .custom-accordion-header {
  color: rgba(25, 135, 84, 1);
}

.custom-accordion-item.active .custom-accordion-header svg {
  transform: rotate(90deg);
}

.account-hover {
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}

.account-hover ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 0;
  padding-top: 9px;
  list-style: none;
  z-index: 99;
  transition: all 0.3s ease-in;
  transform-origin: top;
  transform: rotateX(90deg);
  opacity: 0;
  visibility: hidden;
}

.account-hover ul li {
  background-color: #fff;
  text-align: right;
  border: 1px solid #eee;
  border-bottom: unset;
  transition: all 0.3s ease-in;
}

.account-hover ul li a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  transition: all 0.3s ease-in;
  display: block;
  width: 100%;
  padding: 0.25rem 0.75rem;
}

.account-hover ul li:hover a {
  color: #c90000;
  padding-right: 1rem;
}

.account-hover ul li:last-child {
  border-bottom: 1px solid #eee;
}

.account-hover:active ul,
.account-hover:focus ul,
.account-hover:hover ul {
  transform: rotateX(0);
  opacity: 1;
  visibility: visible;
}

.menu-btn {
  border-radius: 0.75rem;
  transition: all 0.3s ease-in;
  box-shadow: -4px -4px 12px hsla(0, 0%, 100%, 0.7),
    -4px -4px 8px hsla(0, 0%, 100%, 0.5), 4px 4px 6px hsla(0, 0%, 100%, 0.075),
    4px 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-btn.img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
}

.bg-suc {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.145);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85vw !important;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 !important;
  border-radius: 0.75rem;
  right: 7.5vw;
}

.menu-btn.img-icon img {
  width: 20px;
  height: 20px;
  object-fit: unset;
}

.menu-btn:active,
.menu-btn:focus,
.menu-btn:hover {
  box-shadow: -2px -2px 6px hsla(0, 0%, 100%, 0.6),
    -2px -2px 4px hsla(0, 0%, 100%, 0.4), 2px 2px 2px hsla(0, 0%, 100%, 0.05),
    2px 2px 4px rgba(0, 0, 0, 0.1);
}

.small-loading {
  width: 100%;
  height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.main-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.main-loading .loading-logo {
  width: 50vw;
  height: auto;
  max-width: 350px;
}

.loading-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
}

.loading-bg.opacity-bg {
  opacity: 0.8;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #c90000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.login-wrapper {
  width: 100%;
  min-height: calc(100vh - 106px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 90vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid #d6d6d6;
}

.login-box.form-box {
  max-width: unset;
  width: 100%;
}

.login-box .login-img {
  width: 35%;
  max-width: 120px;
  margin-bottom: 1.5rem;
}

.login-box .login-img img {
  width: 100%;
  height: auto;
}

.login-box .login-text .title {
  font-size: 1.3em;
  font-weight: 900;
  color: #5b5b5b;
  text-align: center;
}

.login-box .login-text .desc {
  font-size: 0.9em;
  font-weight: 300;
  color: #6e6e6e;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-login {
  background: rgb(207, 1, 1);
  background: linear-gradient(315deg,
      rgba(207, 1, 1, 1) 35%,
      rgba(224, 101, 105, 1) 100%);
  color: #fff;
  border-radius: 1.25rem;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.btn-login:active,
.btn-login:hover,
.btn-login:focus {
  color: #fff !important;
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #e06569;
}

.btn-custom-success {
  background: rgb(28, 217, 129);
  background: linear-gradient(135deg,
      rgba(28, 217, 129, 1) 8%,
      rgba(25, 135, 84, 1) 100%);
  color: #fff;
  border-radius: 1.25rem;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.btn-custom-success:active,
.btn-custom-success:hover,
.btn-custom-success:focus {
  color: #fff !important;
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #36fea1;
}

.btn-custom-primary {
  background: rgb(18, 135, 252);
  background: linear-gradient(135deg,
      rgba(18, 135, 252, 1) 13%,
      rgba(27, 110, 194, 1) 100%);
  color: #fff;
  border-radius: 1.25rem;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.btn-custom-primary:active,
.btn-custom-primary:hover,
.btn-custom-primary:focus {
  color: #fff !important;
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #36fea1;
}

.login-box .notes {
  font-size: 0.7em;
  font-weight: 100;
  color: #b8b8b8;
  margin-top: 1rem;
  text-align: center;
}

.primary-color {
  color: #c90101;
}

.dark-color {
  color: #322733 !important;
}

.text-color {
  color: #697085 !important;
}

.font-size-5x {
  font-size: 3em !important;
}

.font-size-4x {
  font-size: 2em !important;
}

.font-size-3x {
  font-size: 1.5em !important;
}

.font-size-2x {
  font-size: 1.25em !important;
}

.font-size-1x {
  font-size: 1em !important;
}

.font-size-small {
  font-size: 0.9em !important;
}

.reset-password {
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: #5b5b5b;
  transition: all 0.3s ease-in;
}

.reset-password:hover {
  color: #b20808;
}

.dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.faq-header img {
  width: 80px;
  max-width: 90vw;
  margin-bottom: 0.5rem;
}

.faq-header .title {
  font-size: 1.8em;
  font-weight: 600;
  color: #322733;
  margin-bottom: 0.5rem;
}

.faq-header .desc {
  font-size: 1em;
  font-weight: 400;
  color: #697085;
  margin-bottom: 0;
}

.about-us-section .title {
  font-size: 1.3em;
  font-weight: 700;
  color: #322733;
  display: flex;
  align-items: center;
}

.about-us-section .title::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  background-color: rgb(255, 27, 175);
  margin-left: 0.5rem;
}

.about-us-section .desc {
  font-size: 1em;
  font-weight: 400;
  color: #697085;
  margin-bottom: 2rem;
}

.about-us-box {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.about-us-box .title {
  font-size: 1.3em;
  color: #424750;
  margin-bottom: 1rem;
}

.about-us-box .desc {
  font-size: 1em;
  font-weight: 400;
  color: #424750;
  margin-bottom: 0;
}

.link {
  color: #0366d6;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #0366d6;
  position: absolute;
  right: 0;
  bottom: 0.15rem;
  left: 0;
  transition: all 0.3s ease-in;
  width: 0;
  transform-origin: center;
}

.link:hover {
  color: #0078ff;
}

.link:hover::after {
  width: 100%;
  border-color: #0078ff;
}

.crypto-item {
  background-color: #fff;
  color: #161619;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  /* max-width: 300px; */
  box-shadow: -2px 2px 6px hsla(0, 0%, 0%, 0.1);
  transition: all 0.3s ease-in;
  height: 100%;
  margin-bottom: 0;
}

.crypto-item:hover {
  box-shadow: -5px 5px 6px hsla(0, 0%, 0%, 0.1);
}

.crypto-item .crypto-img img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.crypto-item .crupto-text {
  margin-right: 0.5rem;
  width: 100%;
}

.text-row {
  display: flex;
  justify-content: space-between;
}

.text-row p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  font-weight: 400;
}

.custom-tab .tab-body {
  background-color: rgb(237, 237, 237);
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 100px;
}

.custom-tab .tabs-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.custom-tab .tabs-wrapper .tab-btn {
  background-color: #3a3a48;
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  padding-bottom: 3rem;
  color: #fff;
  position: relative;
  bottom: -2.5rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-align: center;
}

.custom-tab .tabs-wrapper .tab-btn.active {
  background-color: rgb(237, 237, 237);
  color: #343436;
}

.tab-body-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  width: 100%;
  height: auto;
  /* padding-top: 1rem; */
}

.tab-body-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.bg-light-custom {
  background-color: #f7f7f7;
}

.contact-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  box-shadow: -4px -4px 12px hsla(0, 0%, 100%, 0.7),
    -4px -4px 8px hsla(0, 0%, 100%, 0.5), 4px 4px 6px hsla(0, 0%, 100%, 0.075),
    4px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.contact-box .contact-text span {
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
  display: block;
}

.border-radius-1 {
  border-radius: 0.5rem !important;
}

.tx-rm-link {
  text-decoration-line: none !important;
  color: #222 !important;
}

.a {
  text-decoration-line: none !important;
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.text-left {
  text-align: left !important;
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle span:nth-child(3) {
  transform-origin: 0% 0%;
}

#menuToggle.active span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 0px);
  background: #c90000;
}

#menuToggle.active span:nth-last-child(1) {
  transform: rotate(-45deg) translate(-4px, 5px);
}

#menuToggle.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.story-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.story-top .title {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
  color: #161619;
}

.story-top .img-icon {
  cursor: pointer;
}

.story-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 2rem;
}

.story-wrapper .story-item {
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.story-wrapper {
  scrollbar-width: auto;
  scrollbar-color: #bdbcbd #f1e9e9;
}

/* Chrome, Edge, and Safari */
.story-wrapper::-webkit-scrollbar {
  width: 16px;
}

.story-wrapper::-webkit-scrollbar-track {
  background: #f1e9e9;
  border-radius: 0.5rem;
}

.story-wrapper::-webkit-scrollbar-thumb {
  background-color: #bdbcbd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.story-wrapper .story-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.story-wrapper .story-item:hover img {
  transform: scale(1.1);
}

.story-list .story-item {
  width: 100%;
  height: auto;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 350px;
}

.story-list .story-item .story-img {
  width: 100%;
  height: 200px;
}

.story-list .story-item .story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-list .story-item .top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid #d0d1d4;
}

.story-list .story-item .top-box .title {
  font-size: 1.25em;
  font-weight: 600;
  color: #161619;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-list .story-item .top-box .icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.story-list .story-item .top-box .icons>* {
  margin: 0 0.25rem;
}

.story-list .story-item .desc-box {
  padding: 1.5rem;
  padding-top: 0.5rem;
}

.story-list .story-item .desc-box p {
  font-size: 1em;
  font-weight: 400;
  color: #697085;
  display: -webkit-box;
  margin-bottom: 0;
}

.story-list .story-item .desc-box.show-less p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media(max-width:600px) {
  .storis-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0px !important;
  }

  .row-item.disbaled-item::after {
    content: "بزودی";
    color: #000;
    background-color: #ecdd0d;
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    font-size: 0.8em;
    padding: 0.2rem 0.25rem;
    border-radius: 1rem;
  }
}